@{
    ViewData["Title"] = "Home Page";
}


<div class="page-home">
    <h2>SM</h2>
    <div>
        <h1>SeeManga</h1>
        <p>Sua Biblioteca pessoal de mangás.</p>
        <a asp-action="Index" asp-controller="Mangas" class="btn btn-primary" type="button">Mangás</a>
    </div>
</div>
