
@{
    ViewData["Title"] = "Oque";
}

<div class="container">
    <h1>O que é SeeManga?</h1>
    <hr />
    <div class="empty-space"></div>
    <p>SeeManga é uma aplicação web feito para organizar, ler e guardar seus mangás em um banco de dados local.</p>
    <div class="empty-space"></div>
    <h1>Tecnologias</h1>
    <hr />
    <div class="empty-space"></div>
    <p>- C# Entity Framework MVC</p>
    <p>- SQL Server</p>
    <p>- HTML, Web Pages Razor e CSS</p>
    <p>- Webservices</p>
    <p>- Javascript</p>
</div>
