/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'MuseoModerno', cursive;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*CSS SeeManga*/

.page-home {
    background: rgb(34,193,195);
    background: linear-gradient(4deg, rgba(34,193,195,1) 0%, rgba(124,185,232,1) 49%);
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
    .page-home div {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 35%;
        left: 18%;
        margin-top: -50px;
        margin-left: -50px;
    }

    .page-home h1 {
        color: white;
        font-size: 60px;
    }

    .page-home p {
        color: white;
        font-size: 20px;
    }

    .page-home a {
        color: white;
        font-size: 20px;
    }

    .page-home h2 {
        color: white;
        font-weight: bold;
        font-size: 40px;
        padding: 1.2%;
        padding-left: 11.7%;
    }

.logo {
    font-weight: bold;
    font-size: 40px;
}

.background-NoContentdb {
    opacity: .50;
}

    .background-NoContentdb img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .background-NoContentdb p {
        height: auto;
        font-size: 4vh;
    }

.empty-space {
    padding-top: 2%;
}

.img-manga {
    width: 150px;
    height: 200px;
}

div.box {
    overflow: hidden;
    margin: 20px;
    width: 120px;
    display: inline-grid;
}
