@model SeeManga.Models.Model.MangaModel

<link href="~/img/NoContent.png" />
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h1>Mangás</h1>
    <div class="empty-space"></div>

    <div class="empty-space"></div>

    <div class="row">
        <div class="col-sm">
            <a asp-action="AdicionarManga" asp-controller="Mangas" class="btn btn-primary" type="button">Adicionar Novo mangá</a>
            <div class="empty-space"></div>
        </div>
        <div class="col-sm">
            <a asp-action="Index" asp-controller="Generos" class="btn btn-primary" type="button">Adicionar Novo Genero</a>
            <div class="empty-space"></div>
        </div>
        <div class="col-sm">
            <a asp-action="Index" asp-controller="Situacoes" class="btn btn-primary" type="button">Adicionar Nova Situação</a>
            <div class="empty-space"></div>
        </div>
    </div>

    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <div class="empty-space"></div>
    <h1>Todos Mangás</h1>
    <hr />
    <hr />
    @if (Model.DtoManga != null)
    {
        @foreach (var item in Model.DtoManga)
        {
            <div class="box">
                <img class="img-thumbnail img-manga" src="@item.CAPABASE64" alt="" />
                <span>@item.TITULO</span>
            </div>
        }
    }
    else
    {
        <text>
            <div class="background-NoContentdb">
                <p>Nenhum mangá cadastrado no banco de dados!</p>
                <img src="~/img/NoContent.png" />
            </div>
        </text>
    }
</div>

